
# This file is the top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
namespace_indentation = false

[*.{xml,html,xaml}]
indent_size = 2

# Markdown Files
[*.md]
trim_trailing_whitespace = false

# Makefiles
[Makefile]
indent_style = tab
